{% extends 'base.html.twig' %}

{% block title %}banList{% endblock %}

{% block body %} 

<h2>Zbanowani ({{bans|length}}) :</h2>
{% for ban in bans %}
<p>{{ ban.name }}</p>
{% endfor %}

 {% endblock %}
