{% extends 'base.html.twig' %}

{% block title %}banList{% endblock %}

{% block body %} 

<h2>Zbanowani ({{bans|length}}) :</h2>
<ol>
{% for ban in bans %}
	<li>{{ban.name}}</li>
{% endfor %}
</ol>
 {% endblock %}
