<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {{title}} {% endblock %}</title>

        {% block stylesheets %}
        
        {% endblock %}

    </head>
    <body>
        {% block body %}
        <header>
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <div class="container">

                    <a class="navbar-brand" href="{{ path('homepage') }}">Home</a>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('ban_list') }}">Lista banów</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('ban_form_add') }}">Dodaj bana</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        {% endblock %}

        
        {% block javascripts %}
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
